apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 4
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:v1.0.0