apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: docker.io/kuruvauday/order-service:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 5003
        readinessProbe:
          httpGet:
            path: /health
            port: 5003
        livenessProbe:
          httpGet:
            path: /health
            port: 5003

---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices
spec:
  selector:
    app: order-service
  ports:
    - port: 5003
      targetPort: 5003
  type: ClusterIP