apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:b901a9ee57353996ce7be0f9026bcfcaf89836b8
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaday/frontend:b901a9ee57353996ce7be0f9026bcfcaf89836b8
