apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:e207ff5a8aff5859e71c940c42f73cc4a49b80aa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaudayuday/frontend:e207ff5a8aff5859e71c940c42f73cc4a49b80aa

