apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:a89d538f6d1e81760fd2fedf8c8f6af1a8022a83
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaday/frontend:a89d538f6d1e81760fd2fedf8c8f6af1a8022a83
