apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:44ae77aa0c4c009d84fd2777a171a8181dcc1dda
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaudayuday/frontend:44ae77aa0c4c009d84fd2777a171a8181dcc1dda

