apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:32a909404557de4d6a75e4f0c870ed8f126f2915
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaudayuday/frontend:32a909404557de4d6a75e4f0c870ed8f126f2915

