apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:08940273c6d1c6d1b3fbfbc74061eaf5554bb1f1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaudayuday/frontend:08940273c6d1c6d1b3fbfbc74061eaf5554bb1f1

