apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:c7acbc1e9ddee51b0433834c22fc43b91fa11ec9
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaudayuday/frontend:c7acbc1e9ddee51b0433834c22fc43b91fa11ec9

