apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:7ed1a8d6d14422dad349c5776671dac1b1557404
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaday/frontend:7ed1a8d6d14422dad349c5776671dac1b1557404
