apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: user-service
        image: kuruvaudayuday/user-service:a8376e00bd9248e4372dc0dc46abdb22cd336127
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: kuruvaday/frontend:a8376e00bd9248e4372dc0dc46abdb22cd336127
